<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="app">Yama Admin</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse" collapse="navCollapsed">
			<ul class="nav navbar-nav">
				<li ng-repeat="m in ctrl.menus" ng-class="{ 'active': ctrl.state.current.name.indexOf(m.ref) === 0 }">
					<a ui-sref="{{ m.ref }}">
						<i class="fa fa-{{ m.icon }}"></i> {{ m.menu }}
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right" ng-init="name = currentUser.name">
				<li dropdown>
					<a href="#" dropdown-toggle>
						<i class="fa fa-user"></i> {{ name.first }} {{ name.last }}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">
								<i class="fa fa-pencil"></i> Profile ({{ currentUser.username }})
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
